/* General Styling + Skip Link */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fefbea;
}

body {
  background-color: #202a44;
}

.skip a {
  background: #fefbea;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  color: #202a44;
}

.skip > a {
  position: absolute;
  top: -40px;
}

.skip > a:focus {
  position: absolute;
  top: 50px;
}

/* Loading Animation */
.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202a44;
  transition: opacity 1s, visibility 1s;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fefbea;
  animation: loader 2s infinite ease;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader_inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fefbea;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* Top Nav Styling */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #fefbea;
  border-style: none none solid none;
}

a {
  text-decoration: none;
}

.topnav a {
  padding: 10px 15px;
}

.name {
  font-size: 25px;
}

.topnav-left {
  text-decoration: underline;
}

/* Page Heading Styling */
.intro h1 {
  font-size: 45px;
  text-align: center;
  padding: 20px 0px 0px 10px;
}

/* Image Gallery Styling */
.image_gallery img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.image_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 40px 40px; */
  row-gap: 15px;
}

.matinee,
.fire_in_the_sky,
.dear_to_me,
.the_loop,
.creepin,
.hol_up,
.endlessly,
.blu_billy,
.baby_boy,
.die_for_you {
  position: relative;
}

.matinee_img,
.fire_img,
.dear_img,
.loop_img,
.creepin_img,
.hol_img,
.endlessly_img,
.blu_billy_img,
.baby_boy_img,
.die_for_you_img {
  display: block;
  width: 100%;
}

.matinee_overlay,
.fire_overlay,
.dear_overlay,
.loop_overlay,
.creepin_overlay,
.hol_overlay,
.endlessly_overlay,
.blu_billy_overlay,
.baby_boy_overlay,
.die_for_you_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #202a44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.25s;
}

.matinee_overlay:hover,
.fire_overlay:hover,
.dear_overlay:hover,
.loop_overlay:hover,
.creepin_overlay:hover,
.hol_overlay:hover,
.endlessly_overlay:hover,
.blu_billy_overlay:hover,
.baby_boy_overlay:hover,
.die_for_you_overlay:hover {
  opacity: 1;
}

.matinee_title,
.fire_title,
.dear_title,
.loop_title,
.creepin_title,
.hol_title,
.endlessly_title,
.blu_billy_title,
.baby_boy_title,
.die_for_you_title {
  font-size: 1.2em;
}

.matinee_description,
.fire_description,
.dear_description,
.loop_description,
.creepin_description,
.hol_description,
.endlessly_description,
.blu_billy_description,
.baby_boy_description,
.die_for_you_description {
  font-size: 0.95em;
}

/* Footer Styling */
footer {
  display: flex;
  padding: 40px 16px;
  justify-content: space-between;
  border: 2px #fefbea;
  border-style: solid none none none;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .image_gallery img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
  }

  .image_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 40px;
  }

  .matinee_title,
  .fire_title,
  .dear_title,
  .loop_title,
  .creepin_title,
  .hol_title,
  .endlessly_title,
  .blu_billy_title,
  .baby_boy_title,
  .die_for_you_title {
    font-size: 1.6em;
  }

  .matinee_description,
  .fire_description,
  .dear_description,
  .loop_description,
  .creepin_description,
  .hol_description,
  .endlessly_description,
  .blu_billy_description,
  .baby_boy_description,
  .die_for_you_description {
    font-size: 1.15em;
  }
}

@media screen and (min-width: 770px) {
  .image_gallery img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
  }

  .image_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 40px;
  }

  .matinee_title,
  .fire_title,
  .dear_title,
  .loop_title,
  .creepin_title,
  .hol_title,
  .endlessly_title,
  .blu_billy_title,
  .baby_boy_title,
  .die_for_you_title {
    font-size: 2em;
  }

  .matinee_description,
  .fire_description,
  .dear_description,
  .loop_description,
  .creepin_description,
  .hol_description,
  .endlessly_description,
  .blu_billy_description,
  .baby_boy_description,
  .die_for_you_description {
    font-size: 1.25em;
  }
}
